<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/students/userRegistration}" >Register
                        User</a>
                </li>

                <li class="nav-item ml-auto" sec:authorize="hasRole('ADMIN')">
                    <a aria-current="page" class="nav-link active" th:href="@{/students}">View Students</a>
                </li>

                <li class="nav-item ml-auto" sec:authorize="!isAuthenticated()">
                    <a aria-current="page" class="nav-link active" th:href="@{/students/login}">Login</a>
                </li>

                <li class="nav-item ml-auto" sec:authorize="isAuthenticated()">
                    <a aria-current="page" class="nav-link active" th:href="@{/logout}">Logout</a>
                </li>


            </ul>

        </div>
    </div>
</nav>
<br /><br /><br />

<div class="text-center mt-0">
    <h3 class="lead display-3 mb-0">Welcome to Student Management System</h3>
</div>

<div class="container-fluid" sec:authorize="hasAnyRole('ADMIN','USER')">
    <form class="row g-3 mt-3"
          role="form"
          method="post"
          th:action="@{/students/searchUser}">

        <div class="col-auto">
            <label for="staticEmail2" class="visually-hidden">Email</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Search student">
        </div>
        <div class="col-auto">


            <label for="name" class="visually-hidden">Name</label>
            <input type="text" class="form-control-plaintext" id="name" name="name" placeholder="Student's first name"
                   required>
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>

            </div>

        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
    </form>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>